.container {
    .row {
        h2 {
            text-align: center;
        }
    }
    .modules {
        div {
            min-height: 200px;
            margin-top: 80px;
            padding: 5px;
            text-align: center;

            img {
                width: 300px;
                height: 300px;
                cursor: pointer;
            }
        }
    }
}