@import "../_styles/_vars.scss";
@import "../_styles/_mixins.scss";

nav {
    &.main-nav {
        background: $mainNavBGColor;
        height: 56px;
        min-height: 56px;
        padding: 0;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);

        > h1 {
            margin: 0 72px 0 0;
            padding: 0;
            height: 56px;
            width: 168px;
            float: left;

            > a {
                &:hover {
                    background-color: $navHoverBGColor;
                }

                background: url(/assets/logo-nav.png) 16px 8px no-repeat;
                border-radius: 0;
                display: block;
                height: 56px;
                overflow: hidden;
                text-indent: -3000px;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                color: currentColor;
                position: relative;
                outline: 0;
                border: 0;
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
                font-style: inherit;
                font-variant: inherit;
                font-family: inherit;
                text-decoration: none;
                cursor: pointer;
                @include user-select(none);
            }
        }

        > ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            > li {
               margin: 0; 

              > a {
                    &:hover {
                        background-color: $navHoverBGColor;
                    }

                    &.active {
                        border-bottom: 2px solid red;
                    }
                    
                    line-height: 56px;
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    padding: 0 16px;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 16px;
                    border: none;
                    background: none;
                    border-radius: 0;
                    position: relative;
                    letter-spacing: 0.16px;
                    margin: 0;
               }
            }
        }

        .ngrx-logo {
            text-align: right;
            margin-right: 20px;
            font-weight: 500;
            font-size: 38px;
            color: #fff;

            background-image: url(/assets/ngrx-logo.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 130px;
            height: 100%;
        }
    }
}